/* styles.css */

/* Estilos generales */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f9c74f;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    color: #fff;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 60px;
}

h2 {
    color: #f9c74f;
}

/* Estilos para la sección "Inicio" */

.hero-image {
    background-image: url("ruta-a-imagen-de-portada.jpg");
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text {
    text-align: center;
}

/* Estilos para la sección "Menú" */

.menu-item {
    max-width: 300px;
    margin-bottom: 10px;
}

.menu-item img {
    width: 100%;
    border-radius: 8px;
}

/* Estilos para la sección "Nosotros" */

/* Estilos para la sección "Contacto" */

/* Estilos para el footer */

footer {
    background-color: #f9c74f;
    padding: 20px;
    text-align: center;
    color: #fff;
}
